$color: #0093e9;

.pd-footer-top {
  background: #101010;
}
.pd-footer-bottom {
  background-color: $color;
  .pd-footer-social-networks i {
    font-size: 22px;
    &:hover {
      opacity: 0.8;
    }
  }
}
