<footer class="font-weight-light text-center text-white">
  <div class="pd-footer-top">
    <div class="py-5 px-3">
      <img class="img-fluid" src="assets/images/logo.png" alt="Phimdee Logo">
      <h5 class="my-3 font-weight-light">Free movie for everyone!</h5>
      <button type="button" class="btn btn-dark pd-btn px-5">
        Sponsor us!
        <i class="far fa-envelope ml-2"></i>
      </button>
    </div>
  </div>
  <div class="pd-footer-bottom container-fluid px-4">
    <div class="row">
      <div class="col-lg-7 pd-footer-social-networks text-lg-left my-2">
        <a class="text-reset pr-4" href="#"><i class="fab fa-facebook-square"></i></a>
        <a class="text-reset pr-4" href="#"><i class="fab fa-twitter"></i></a>
        <a class="text-reset" href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="col-lg-5 text-lg-right">
        <p class="my-2"> © 2020 GoCodee Ltd, Co. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
