$color: #0093e9;
$bgColor: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

.navbar {
  background-color: black;
  transition: background-color 0.5s ease-in-out;

  .container-fluid {
    transition: all 0.25s ease-in-out;

    .nav-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      position: relative;

      .nav-link {
        font-size: 12px;
        letter-spacing: 3px;
      }

      &:hover,
      &.active {
        &:after {
          width: 100%;
        }
        .nav-link {
          transition: all 0.25s ease-in-out;
          color: $color !important;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $bgColor;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.25s ease-in-out;
      }
    }

    &.pd-navbar-collapsed-animate {
      transform: translateX(-80%);
      transition: all 0.25s ease-in-out;
    }

    .pd-navbar-btn-sign-in {
      height: 33px;
    }

    .input-group {
      border: 1px solid $color;
      border-radius: 50px;

      .pd-navbar-search-input {
        width: 0;
        height: 31px;
        transition: all 0.25s ease-in-out;

        &.active {
          width: 210px;
        }
      }
    }

    .navbar-toggler {
      outline: none;
      .bar {
        width: 20px;
        height: 3px;
        transition: all 0.5s;
        background-color: $color;
      }

      &.animate {
        .bar:nth-child(1) {
          transform: rotate(-45deg) translate(-5px, 5px);
        }
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(3) {
          transform: rotate(45deg) translate(-5px, -5px);
        }
      }
    }
  }

  .pd-navbar-menu-responsive {
    top: 0;
    right: 0;
    background: #272424;
    transform: translate(100%, 0);
    transition: all 0.2s ease-in;
    z-index: 1;

    &.show {
      transform: translate(0, 0);
      li,
      .pd-navbar-responsive-searchbar {
        opacity: 1;
        transform: translate(0, 0);
        transition: all 0.25s ease-in 0s;
        transition-delay: 0.2s;
      }
      @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
          transition-delay: 0.1s * ($i + 1);
        }
      }
    }

    li,
    .pd-navbar-responsive-searchbar {
      opacity: 0;
      transform: translate(0, 10px);
      line-height: 50px;
    }
  }
}
