<nav class="navbar navbar-expand-lg navbar-dark fixed-top" (scroll)="onScroll($event)"
  [class.bg-transparent]="isTransparent">
  <div class="container-fluid p-0" [class.pd-navbar-collapsed-animate]="isCollapsedAnimate">
    <img class="navbar-brand mr-4" src="./assets/images/logo.png" alt="Phimdee Logo" width="130">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#pd-navbar-collapse"
      aria-controls="pd-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation"
      (click)="onCollapsedNavbar()" [class.animate]="isCollapsedAnimate">
      <div class="bar my-1"></div>
      <div class="bar my-1"></div>
      <div class="bar my-1"></div>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto text-uppercase text-center">
        <li class="nav-item px-2 active">
          <a class="nav-link text-white" href="#">Hot</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="#">Movie</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="#">TV Show</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="#">Chart</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="#">TV Series</a>
        </li>
      </ul>
      <form class="form-inline pd-navbar-search-form">
        <div class="input-group mr-sm-3 " [class.active]="!isShowSearchInput">
          <div class="btn input-group-text border-0 bg-transparent">
            <i class="fas fa-search text-white" aria-hidden="true" (click)="onShowSearchInput()"></i>
          </div>
          <input type="text"
            class="form-control text-white bg-transparent border-0 p-0 pd-navbar-search-input shadow-none"
            id="pd-navbar-search-input" [class.active]="isShowSearchInput">
        </div>
      </form>
      <button class="btn btn-dark text-uppercase pd-navbar-btn-sign-in pd-btn px-4 py-0" type="submit">Sign
        in</button>
    </div>
  </div>
  <div class="pd-navbar-menu-responsive position-fixed h-100 w-75" id="pd-navbar-collapse">
    <div>
      <img class="pd-navbar-logo d-block ml-auto p-3" src="./assets/images/logo.png" alt="Phimdee Logo" width="162">
      <form class="mx-3">
        <div class="input-group pd-navbar-responsive-searchbar">
          <input type="text" class="form-control">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="text-uppercase text-right px-3 list-unstyled">
        <li><a class="text-decoration-none text-white" href="#">Hot</a></li>
        <li><a class="text-decoration-none text-white" href="#">Movie</a></li>
        <li><a class="text-decoration-none text-white" href="#">TV Show</a></li>
        <li><a class="text-decoration-none text-white" href="#">Chart</a></li>
        <li><a class="text-decoration-none text-white" href="#">TV Series</a></li>
      </ul>
    </div>
  </div>

</nav>