<div class="row py-4 align-items-center">
    <div class="col-md-7">
        <img class="img-fluid h-50" src="https://loremflickr.com/1370/870/girl" alt="Features Image">
    </div>
    <div class="col-md-5 mt-3">
        <span class="pd-banner-categories text-uppercase small">Drama, Thriller</span>
        <h1 class="pd-banner-title font-weight-normal">Joker (2019)</h1>
        <h6 class="pb-2 pd-banner-description font-weight-normal">
            'All I have are negative thoughts.' - Arthur Fleck (Joker)
        </h6>
        <a href="#" class="btn btn-dark px-4 py-2 pd-btn">
            <i class="fa fa-play mr-1"></i>
            Play now
        </a>
    </div>
</div>