<div class="pd-banner-container text-white p-2 px-xl-5 px-lg-3 d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="pd-banner-content col-lg-4">
        <span class="pd-banner-categories text-uppercase small text-primary">Drama, Thriller</span>
        <h1 class="pd-banner-title font-weight-normal">Joker (2019)</h1>
        <h6 class="pb-2 pd-banner-description font-weight-normal">
          'All I have are negative thoughts.' - Arthur Fleck (Joker)
        </h6>
        <a href="#" class="btn btn-dark px-4 py-2 pd-btn">
          <i class="fa fa-play mr-1"></i>
          Play now
        </a>
      </div>
    </div>
  </div>
</div>