<div class="pd-banner-container text-white p-2 d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="pd-banner-content col-lg-4">
        <h1>Joker (2019)</h1>
        <div class="d-flex align-items-center my-2">
          <ol class="breadcrumb bg-transparent m-0 p-0">
            <li class="breadcrumb-item"><a href="#">Drama</a></li>
            <li class="breadcrumb-item"><a href="#">Thriller</a></li>
          </ol>
          <span class="px-2 text-primary">2h 2m</span>
          <span class="badge badge-warning mr-2">IMDb</span>
          <span>8.7/10</span>
        </div>
        <h4 class="pb-2">
          'All I have are negative thoughts.' - Arthur Fleck (Joker)
        </h4>
        <button class="btn btn-outline-info pd-navbar-btn-sign-in rounded px-4 py-1">Play now</button>
      </div>
    </div>
  </div>
</div>
