/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

// Custom btn

.btn-phimdee {
  background: transparent;
  border: 1px white solid !important;

  &:focus,
  &:hover,
  &.active {
    background: #0396ff;
    outline: none !important;
    box-shadow: none !important;
    border: 1px #0396ff solid !important;
  }
}

// Custom scroll bar
::-webkit-scrollbar {
  width: 8px;
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #c5c5c5;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #141414;
}
