<div class="card bg-transparent">
    <img class="card-img-top" src="https://loremflickr.com/960/620/girl,cat,dog" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-primary">Card titlesssssssssssssss sssssssssssssssss sssssssssss sssssssssssssss</h5>
        <p class="card-text text-black">
            Some quick example text to build on the card title and make up the bulk of the
            card's
            content.
        </p>
        <a href="#" class="text-white float-right font-weight-bold">Read more ...</a>
    </div>
</div>